/* Split the screen in half */

.split-2 {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}


/* Control the left side */

.left-2 {
    left: 0;
    background-color: #111;
}


/* Control the right side */

.right-2 {
    right: 0;
    background-color: lightgray;
}


/* If you want the content centered horizontally and vertically */

.centered-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


/* Style the image inside the centered container, if needed */

.centered-2 img {
    width: 500px;
    border-radius: 50%;
}